body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #0077cc;
  color: white;
  text-align: center;
  padding: 20px;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #005fa3;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #003f7f;
}


.logo {
  width: 100px;
  height: auto;
}

.catch {
  font-size: 1.2em;
  margin-top: 10px;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #0077cc;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #e0e0e0;
}

/* スマホ対応 */
@media (max-width: 600px) {
  header, section, footer {
    padding: 15px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-bottom: 0px;
    width: 80%;
    height: 20px;
    text-align: center;
  }

  img {
    width: 100%;
  }
  .indoor{
    height:300px;
  }
  .washer{
    height:300px;
  }
  .dryer{
    height:300px;
  }
  .shoesWasher{
    height:300px;
  }
  .books{
    height:200px;
    width:80%;
  }
  .breakroom{
    height:200px;
    width:80%;
  }
  .option{
    height:200px;
    width:80%;
  }
  .map{
    width:90%;
  {

  .catch {
    font-size: 1em;
  }
}
``